// Brand primary colors
$flizpay-primary: #57cc99;
$flizpay-secondary: #22577a;
$flizpay-tertiary: #80ed99;
$flizpay-error: #ff9898;
$flizpay-success: #c7f9cc;

// Blue palette
$flizpay-navy-blue: #001f3f;
$flizpay-blue-80: #16384e;
$flizpay-blue-60: #143449;
$flizpay-blue-40: #0e2331;
$flizpay-blue-20: #071118;

// Green palette
$flizpay-green-80: #79d6ad;
$flizpay-green-60: #9ae0c2;
$flizpay-green-40: #bcebd6;
$flizpay-green-20: #ddf5eb;
